.card-mainDiv{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 8rem 5px 5px 5px;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Optional: Adjust the gap between cards */
  margin-top: 8rem;
}

.container-details1 {
  flex: 1 1 calc(25% - 16px); /* Adjust the percentage to control the number of cards per row */
  box-sizing: border-box;
  margin-bottom: 16px; /* Optional: Adjust the bottom margin between rows */
}
.buttonAdd {
  background-color: "#D8F8E4";
  color: "#144757";
  border: none;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  box-sizing: border-box; 
}

.row:after {
  content: "";
  display: table;
  clear: both;
}



.details p {
  margin-bottom: 0;
}

.details div {
  display: flex;
  align-items: center;
}

.details div p {
  margin-left: 10px; /* Adjust the left margin between the reviewer's name and the review duration */
}

/* Optional: Responsive Design */
@media (max-width: 768px) {
  .column {
    width: 100%; /* Stacks columns on smaller screens */
  }
}

@media (max-width: 768px) {
  .container-details1 {
    flex: 1 1 calc(50% - 16px); /* Adjust for smaller screens */
  }
}

@media (max-width: 480px) {
  .container-details1 {
    flex: 1 1 100%; /* Adjust for mobile screens */
  }
}

.container-details {
    display: flex;
    margin-top: 5rem; /* Adjust as needed */
  }
  .sub-card{
    position: fixed;
    top: 9rem; /* Adjust as needed */
    left: 1rem; /* Adjust as needed */
    width: 25rem; /* Same width as the card */
  }

  .details {
    margin-top: 1rem; /* Add some space between image and details */
    line-height: 1.5; /* Adjust for better readability */
  }
  
  
  .left-card {
    position: fixed;
    top: 9rem; /* Adjust as needed */
    left: 1rem; /* Adjust as needed */
    width: 30rem; /* Same width as the card */
  }
  
  .right-card {
    margin-left: 32rem; /* Space for the fixed card plus some margin */
    width: calc(100% - 32rem); /* Adjust width to fill remaining space */
    overflow-y: auto;
    padding: 1rem;
    height: 100vh; /* Full viewport height for scrolling */
  }

  .toast-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000; /* Ensure it appears above other elements */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .toast-success-custom {
    background-color: #26344E; /* Change 'green' to your desired color */
    color:"#FFF";
   
  }